.thumbnail{
    width: 100%;
}
.video-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.video-title-link {
  text-decoration: none;
  color: black;
}
.profile-picture{
    width: 36px;
    border-radius: 20px;
}
.thumbnail-row{
    margin-bottom: 12px;
}
.video-author,
.video-stats{
    font-size: 12px;
    color: rgb(100,100,100);
    
}
.video-author{
    margin-bottom: 5px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:751px) and (max-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .video-title{
        font-size: 16px;
        line-height: 24px;
    }
    .video-author,
    .video-stats {
    font-size: 14px;
  }
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.video-time{
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    color: white;
    background-color: black;
    bottom: 8px;
    right: 5px;
    padding: 4px 8px;
    border-radius: 2px;
}

.channel-picture{
    position: relative;
    cursor: pointer;
}
.channel-picture:hover .channel-picture-tooltip{
    opacity: 1;
}
.channel-picture-tooltip{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 10px;
    width: 150px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.25s;
    pointer-events: none;
    

}
.tooltip-data{
    margin-right: 10px; 
}
.tooltip-data p{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip-data .name{
    font-weight: bold;
}